<!-- <h1>Form</h1>
<form action="<%=users_path=%>" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div>Username:</div> <input type="text" name="user[username]"><br>
  <div>Email:</div> <input type="text" name="user[email]"><br>
  <div>Password:</div> <input type="password" name="user[password]"><br>
  <input type="submit" value="Submit">
</form>
 -->
<!--

<%= form_tag(users_path) do %>
  <%= label_tag 'email' %> <br>
    <%= text_field(:user, :email) %> <br>
  <%= label_tag 'username' %> <br>
    <%= text_field(:user, :username) %> <br>
  <%= label_tag 'password' %> <br>
    <%= password_field(:user, :password) %> <br>
  <%= submit_tag 'Send' %>
<% end %>
 -->

<%= form_for @user do |f| %>
  <%= f.label :username %> <br>
    <%= f.text_field :username %> <br>
  <%= f.label :email %> <br>
    <%= f.email_field :email, placeholder: "example@gmail.com"%> <br>
  <%= f.label :password %> <br>
    <%= f.password_field :password, placeholder: "case sensitive" %> <br>
  <%= f.submit "Send" %>
<% end %>

<% unless @user.errors.empty? %>
  <% @user.errors.full_messages.each do |e| %>
    <p> <%= e  %> </p>
  <% end %>
<% end %>